<div class="row">
  <div class="large-12 columns">
    <div>Edit <%= @triodepentode.identifier %> Form </div>
    <%= render partial: 'shared/edit_tube_form', locals: {tube: @triodepentode, tube_fields: @triodepentode_fields} %>
  </div>
</div>