<div class="row">
  <div class="large-12 columns">
    <div>New Triode-PentodeForm </div>
    <%= render partial: 'shared/tubeform', locals: {tube: @triodepentode, tube_fields: @triodepentode_fields} %>
  </div>
</div>