<footer class="row">
  <div class="large-12 columns">
    <hr>
    <div class="row">
      <div class="large-5 columns">
        <p>© Ampsite, 2015</p>
      </div>
      <div class="large-7 columns">
        <ul class="inline-list right">
            <li><a href="#">Tech Tips</a></li>
            <li><a href="#">Tube Database</a></li>
            <li><a href="#">Amp Database</a></li>
            <li><a href="#">Tools</a></li>
            <li>  <%= link_to "Forum", topics_path %></li>
        </ul>
      </div>
    </div>
  </div>
</footer>