<li><%= link_to 'Tech Tips Blog', articles_path %></li>
<li><%= link_to 'Tube Database', tubes_path %></li>
<li><a href="#">Amp Database</a></li>
<li><a href="#">Tools</a></li>
<li><%= link_to 'Forum', topics_path %></li>

