  <ul class="side-nav">
    <li><%= link_to 'Edit Avatar', avatar_path %></li>
    <li><%= link_to 'Edit Signature', signature_path %></li>
    <li><%= link_to 'Edit Profile', profile_path %></li>
    <li><%= link_to 'Account Settings', edit_user_path(current_user) %></li>
  </ul>