<div class="row">
  <div class="columns small-12">

    <div class="columns small-3 dash-menu">
          <%= render 'usernav' %>
    </div>

    <div class="columns push-1 small-8 dash-focus" >
          User Stats Info goes here.
    </div>


  </div>
</div>