<div class="row">
  <div class="columns small-12">

    <div class="columns small-3 dash-menu">
          <%= render 'shared/tubenav' %>
    </div>

    <div class="columns small-8 dash-focus" >
     <div class="row">
      <p>
        Please select the type of tube you're looking for. Common preamp tubes are found in the Triode and Triode-Pentode sections while Power / Output tubes are found in the Tetrode and Pentode sections. </p>
      <p>
        If you know which type of tube you are looking for, you may enter the name in the search bar at the top of the page.
      </p>
    </div>
  </div>


  </div>
</div>