<div class="row">
  <div class="columns small-12">

    <div class="row">
      <div class="large-4 small-6 columns">
        <h2><%= link_to 'Rectifiers', diodes_path %></h2>
        <h6 class="panel">Known as Diodes. These include 5Y3, GZ34, 5AR4, etc...</h6>
      </div>

      <div class="large-4 small-6 columns">
        <h2><%= link_to 'Preamp', triodes_path %></h2>
        <h6 class="panel">Full of triodes, low power pentodes, and combination triode/pentode tubes. </h6>
      </div>

      <div class="large-4 small-6 columns">
        <h2><%= link_to 'Power', triodes_path %></h2>
        <h6 class="panel">Pentode and Beam Tetrodes.</h6>
      </div>


   </div>

  </div>
</div>