<div class="row">
  <div class="columns small-12">

    <div class="columns small-3 dash-menu">
          <%= render 'tubenav' %>
    </div>

    <div class="columns small-8 dash-focus" >
     <div class="row">
      This is where the tube info will be displayed.
    </div>
  </div>


  </div>
</div>