<div class="row">
  <div class="large-12 columns">
    <div>Edit <%= @diode.identifier %> Form </div>
    <%= render partial: 'shared/edit_tube_form', locals: {tube: @diode, tube_fields: @diode_fields} %>
  </div>
</div>