<div class="row">
  <div class="large-12 columns">
    <div>New Tubesocket Form </div>
    <%= render partial: 'shared/tubeform', locals: {tube: @tubesocket, tube_fields: @tubesocket_fields} %>
  </div>
</div>