<div class="row">
  <div class="large-12 columns">
Are you sure you want to destroy <%= @pentode.identifier %>?
    <%= render partial: 'shared/destroy_tube_form', locals: {tube: @pentode} %>
  </div>
</div>