<div class="row">
  <div class="large-12 columns">
    <div>Edit <%= @pentode.identifier %> Form </div>
    <%= render partial: 'shared/edit_tube_form', locals: {tube: @pentode, tube_fields: @pentode_fields} %>
  </div>
</div>