<div class="row">
  <div class="large-12 columns">
    <div>New Pentode Form </div>
    <%= render partial: 'shared/tubeform', locals: {tube: @pentode, tube_fields: @pentode_fields} %>
  </div>
</div>