<div class="row">
  <div class="large-12 columns">
Are you sure you want to destroy <%= @tetrode.identifier %>?
    <%= render partial: 'shared/destroy_tube_form', locals: {tube: @tetrode} %>
  </div>
</div>