<div class="row">
  <div class="large-12 columns">
    <div>Edit <%= @tetrode.identifier %> Form </div>
    <%= render partial: 'shared/edit_tube_form', locals: {tube: @tetrode, tube_fields: @tetrode_fields} %>
  </div>
</div>