<div class="row">
  <div class="large-12 columns">
    <div>New Tetrode Form </div>
    <%= render partial: 'shared/tubeform', locals: {tube: @tetrode, tube_fields: @tetrode_fields} %>
  </div>
</div>