.signup-form {
  padding: 2em;
}

.content {
 margin-top: 10px;
}

.dash-menu {
  margin-top: 20px;
  background-color: #fff;
}

.dash-focus {
  margin-top: 20px;
  background-color: :#696969;
}

.login-form {
  padding: 2em;
}

.nav-search{
  font-size: 0.5em;
  margin-top: 40px;
  margin-bottom: -40px;
}

.posts {
  margin-top: 20px;
}

.last-updated {
  font-size: 0.7em;
}

.new-btn {
  padding: 5px;
  background-color: #efefef;
  border: 1px solid #000000;
  text-decoration: none;
}

.forum-header {
  color: #FFFFFF;
  background-color: #333333;
}

.forum-subheader {
  min-height: 25px;
  vertical-align: center;
  font-size: 0.8em;
  color: #FFFFFF;
  font-weight: 100;
  background-color: #666666;
}

.forum-nav {
  padding-top:20px;
}

.td-content {
  vertical-align: top;
  height: 150px;
}

.topic-link {
  font-size: 1.5rem;
}

.topic-description {
  font-size: 0.8rem;
}

.tube-admin {
  background-color: #fff;
  border: 2px solid #000;
}

.sig-div {
  margin-top: 20px;
  margin-bottom: 10px;
  width:200px;
  border-bottom: 1px solid #000000;
}

.sign-up {
  padding: .2rem;
  border: 3px solid #000;
}

.stats-header {
  background-color: #333333;
  color: #efefef;
  font-size: 0.8rem;
}

.user-info {
  background-color: #efefef;
  vertical-align: top;
  font-size: 0.6rem;
  min-height: 150px;
}
.user-stats {
  text-align: right;
}


