.signup-form {
  padding: 2em;
}

.login-form {
  padding: 2em;
}

.top-actions{
  margin-top: 30px;
}

.posts {
  margin-top: 20px;
}

.last-updated {
  font-size: 0.7em;
}

.new-btn {
  padding: 5px;
  background-color: #efefef;
  border: 1px solid #000000;
  text-decoration: none;
}

.table-header {
  color: #FFFFFF;
  background-color: #333333;
}

.forum-nav {
  border: 1px solid #444444;
  padding-top:20px;
}