.signup-form {
  padding: 2em;
}

.login-form {
  padding: 2em;
}

.top-actions{
  margin-top: 30px;
}

.posts {
  margin-top: 20px;
}

.last-updated {
  font-size: 0.7em;
}

.new-btn {
  padding: 5px;
  background-color: #efefef;
  border: 1px solid #000000;
  text-decoration: none;
}

.table-header {
  color: #FFFFFF;
  background-color: #333333;
}

.table-subheader {
  font-size: 0.8em;
  color: #FFFFFF;
  font-weight: 100;
  background-color: #666666;
}

.forum-nav {
  padding-top:20px;
}

.user-info {
  background-color: #efefef;
}