<div class="row">
  <div class="large-12 columns">
Are you sure you want to destroy <%= @triode.identifier %>?
    <%= render partial: 'shared/destroy_tube_form', locals: {tube: @triode} %>
  </div>
</div>