<div class="row">
  <div class="large-12 columns">
    <div>Edit <%= @triode.identifier %> Form </div>
    <%= render partial: 'shared/edit_tube_form', locals: {tube: @triode, tube_fields: @triode_fields} %>
  </div>
</div>