<p>Welcome to the <%= @topic.title %> Discussion Forum.</p>
<ul>
  <% @posts.each do |post| %>
    <li><%= link_to post.title, post_path(post.id) %> - Author: <%= post.user.username %>
  <% end %>
</ul>